[Unit]
Description=git pull for bot urlmon

[Service]
User=ubuntu
ExecStart=git pull
WorkingDirectory=/root/urlmon

[Install]
WantedBy=multi-user.target