[Unit]
Description=git pull for bot job board bot

[Service]
User=ubuntu
ExecStart=git pull
WorkingDirectory=/home/ubuntu/urlmon

[Install]
WantedBy=multi-user.target