[Unit]
Description=start python script for job board bot

[Service]
User=ubuntu
ExecStart=python3 bot.py config-jobbot.json
WorkingDirectory=/home/ubuntu/job-board

[Install]
WantedBy=multi-user.target