[Unit]
Description=pip updater for job board

[Service]
User=ubuntu
ExecStart=python3 -m pip install -r requirements.txt
WorkingDirectory=/home/ubuntu/job-board

[Install]
WantedBy=multi-user.target