[Unit]
Description=pip updater for urlmon

[Service]
User=ubuntu
ExecStart=python3 -m pip install -r requirements.txt
WorkingDirectory=/home/ubuntu/urlmon

[Install]
WantedBy=multi-user.target