[Unit]
Description=pip updater for urlmon

[Service]
User=ubuntu
ExecPreStart=source bin/activate
ExecStart=python3 -m pip install -r requirements.txt
WorkingDirectory=/root/urlmon

[Install]
WantedBy=multi-user.target