[Unit]
Description=service updater for bot urlmon

[Service]
User=root
ExecStart=sudo cp -r . /etc/systemd/system/
ExecStartPost=systemctl daemon-reload
WorkingDirectory=/home/ubuntu/urlmon/services

[Install]
WantedBy=multi-user.target