[Unit]
Description=start python script for urlmon

[Service]
User=root
ExecStart=/root/urlmon/bin/python3 bot.py config-urlmon.json
WorkingDirectory=/root/urlmon

[Install]
WantedBy=multi-user.target