[Unit]
Description=start python script for urlmon

[Service]
User=ubuntu
ExecPreStart=source bin/activate
ExecStart=python3 bot.py config-urlmon.json
WorkingDirectory=/root/urlmon

[Install]
WantedBy=multi-user.target